
@font-face {
  font-family: 'mysl';
  src: url($baseurl + "/assets/fonts/mysl.ttf") format('truetype');
}

@font-face {
  font-family: 'neue-montreal';
  src: url($baseurl + "/assets/fonts/NeueMontreal-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'biro';
  src: url($baseurl + "/assets/fonts/biro.otf") format('opentype');
}